body{
  /* background-image: radial-gradient(rgb(171, 191, 194) , rgb(62, 62, 75) , black ); */
  overflow-x: hidden;
  overflow-y: hidden;
}
/* 'Permanent Marker', cursive,'Wallpoet', cursive, */

.content-wrapper{
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  /* max-height: 300px; */
  font-family: 'Supermercado One', cursive;
  /* color:white; */
}

.nav-intro-container{
  height: 726px;
  position: absolute;
  /* bottom: -103px; */
  top: 9px;
}

.intro{
  height: 0px;
}

.intro-img-container {
  height: 707px;
  width: 100%;
    /* background-color: rgba(128, 128, 128, 0.644); */
}
.background-img{
  /* position: absolute;
  right: 200px; */
  opacity: .8;
}
.logo,nav,.title-text,.skill,.about-me{
  font-family: 'Monoton', cursive;
}

.logo{
  font-weight:50;
  position: fixed;
  display: inline-block;
  top:10px;
  left: 85px;
  color: white;
  z-index: 100;
  font-size: 36px;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.social-icons{
  display: inline-block;
  width:45px;
  height: 124px;
  margin-left: 90%;
  position: fixed;
  right: 70px;
  top: 200px;
  
 
}
.fa-linkedin, .fa-github-square{
  font-size: 40px;
  
  color: white;
}
.fa-linkedin:hover{
  color: #007bff8c;
}
.fa-github-square:hover{
  color:red;
}
.intro-text{
  display: none;
  height: 400px;
  color:white;
  position: relative;
  bottom: 297px;
  left: 67px;
  text-align: center;
}


nav {
  display: none;
  font-weight: 200;
  width: 800px;
  position: relative;
  left: 38.8%;
  bottom: 110px;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

.nav-list {
  float: left;
}

li a {
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 14px 16px;
  text-decoration: none;
  color:white;
}

.menu-btn{
 
  border: 1px solid;
  /* border-radius: 40%; */
  color: white;
  padding: 11px 11px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
#about-button{
border-radius: 40px 0px 0px 40px;
padding-right: 23px;
}
#work-button{

}
#contact-button{
  border-radius: 0px 40px 40px 0px;
}

.diamond-shp{
  border: 1px solid;
  border-color: white;
  height: 470px;
  width:467px;
  text-align: center;
  transform:rotate(45deg);
  position: relative;
  left:230px;
  top:49px;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { 
  transform: scale(1.1); 
  color: #02fff2;
  text-shadow: 0 0 15px #0062d3;
}

.about{
  display: none;
  color: white;
  background-color: rgba(41, 35, 35, 0.548);
  height: 505px;
  margin-top: 50px;
  position: relative;
  bottom: 644px;
}



.about-me{
text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
color:#02fff2;
font-weight: 50;
font-size: 24px;
width: 330px;
position: relative;
top: 18px;
left: 520px;
}

.about-details{
    margin-left: 520px;
    position: relative;
    bottom: 335px;
    line-height: 20px;
    width: 40%;
    border-top:#b9a8a8 solid 1px;
    padding-top: 37px;
}

.profile-image{
  width: 290px;
  height: 390px;
  position: relative;
  bottom: 73px;
  left: 120px;
  border:solid 15px hsla(252, 13%, 70%, 0.57);;
  box-shadow: 1px 28px 16px 0px rgba(0,0,0,0.75);
}
.title-text{
  font-weight: 50;
  color:white;
  
  margin-top:160px;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 3px 0px #b2a98f,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
}





/* .slider{
  clear: both;
  border: white solid 1px;
  width:60%;
  height: 500px;
} */
.portfolio{
  position: relative;
  bottom: 62px;
  margin-top: 0;
}

.carousel-background{
  height: 504px;
  display: none;
  background-color: #3330368c;
  padding-top: 7px;
  padding-left: 62px;
  padding-bottom: 213px;
  position: relative;
  bottom: 617px;
}

/* .carousel-container{
  width:600px;
}

.carousel-inner:hover .carousel-button, .carousel-inner:hover .carousel-caption { 
  opacity: 1;
  display: block;
  
}
.carousel-inner:hover .project-img {
  opacity: .3;
}

.carousel-caption { 
  position: relative;
  bottom: 208px;
  opacity: .0; 
} */

/* .carousel-inner:hover .carousel-caption {
  opacity: .3;
} */

/* .carousel-button{
  opacity: 0;
  width:600px;
  height: 450;
  position: absolute;
  top: 152px;
  left: 197px;
}
.preview-btn{
  margin-right:50px;
} */
.contact-container{
  position: relative;
  bottom: 782px;
  display: none;
}
.contact{
  position:relative;
  /* right: 56px; */
 top: 36px;
 }
 .subtext{
   font-family:'Supermercado One', cursive;
   text-shadow: none;
 }
.contact-form{
 
  position: relative;
    width: 76%;
    height: 480px;
    border: white 1px solid;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}

.form-info{
  position: relative;
  left: 425px;
  bottom: 290px;
  color: white;
  
}
.form-group{
  width:46%;
 
  margin-left: 40px;
  color: white;

}
.form-group:nth-child(1){
margin-top:70px;
}

.btn{
 width:300px
}

.custom-btn:hover{
  background-color: black;
  /* color:green; */
  outline: 0;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.custom-btn{
  background-color:transparent;
  color:rgb(232, 232, 241);
  margin: .375rem;
    /* color: inherit; */
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    /* border: 0; */
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}
.close-icon{
  color: white;
  font-size: 26px;
  width: 40px;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1000;
  cursor: pointer;
}

.position-a{
  position: relative;
  left: 920px;
}
.position-c{
  z-index: 1000;
  position: relative;
  top: 85px;
  left: 827px;
}
.position-p{
  position: relative;
  left: 871px;
  bottom: 87px;
}
.footer-info{
  text-align: center;
}

.img-responsive{
  width: 200px;
  height: 150px;

  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
div .gallery_product{
  /* height: 150px;
  width: 200px; */
  /* margin-right:140px; */
  /* margin-bottom: 30px; */
  padding-right:195px ;
}

.project-detail-container{
    color: #e9ecef;
    width: 200px;
    height: 54px;
    position: relative;
    display: block;
    /* bottom: -1px; */
    background-color: #2121216e;
    /* padding-bottom: 27px; */
    margin-bottom: 13px;
  /* bottom: 100px; */
}
.project-title{
  font-size:14px;
}
.project-info{
  font-size:12px;
}

.img-banner {
  position: absolute;
  top:90px;
  bottom:0;
  /* left: 0;
  right: 0; */
  background-color: black;
  overflow: hidden;
  width:200px;
  height: 0;
  transition: .5s ease;
}
.banner-text-wrk{
  text-decoration: underline;
}

.banner-text{
  text-align: left;
  position: relative;
    left: 134px;
    text-decoration: underline;
}

.banner-text2{
  position: relative;
    left: 20px;
    bottom: 23px;
    text-decoration: underline;
}

.banner-strike{
  text-decoration-line: line-through;
}

.gallery_product:hover .img-responsive {
  /* opacity: 0.7; */
  
}

.gallery_product:hover .img-banner{
  height: 60px;
  opacity: .7;
  /* height: 20%; */
  color: white;
}

.gallery-container{
  position: relative;
  /* bottom:67px; */
    bottom:113px;
}

.gallery-inner-container{
  width: 850px;
}


.gallery-title
{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.gallery-btn-container{
  position: relative;
  left: 281px;
}
.gallery-btn{
 padding: .40rem 2.14rem;
}

.gallery-btn:nth-child(4){
  margin-right: 309px;
}
.filter-button
{
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    padding: 2px 16px;

}
.filter-button:hover
{
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}


.port-image{
    width: 100%;
}

