body{
  background-image: radial-gradient(rgb(171, 191, 194) , rgb(62, 62, 75) , black );
  overflow-x: hidden;
  
}
/* 'Permanent Marker', cursive,'Wallpoet', cursive, */

.content-wrapper{
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  font-family: 'Supermercado One', cursive;
  color:white;
}
.intro-img-container {
  height: 550px;
    width: 120%;
    background-color: rgba(128, 128, 128, 0.644);
}
.background-img{
  position: absolute;
  /* height: 483px; */
  right: 200px;
  opacity: .5;
}
.logo,nav,.title-text,.skill,.about-me{
  font-family: 'Monoton', cursive;
}
.logo{
 
  font-weight:50;
  /* position: relative; */
  position: fixed;
  display: inline-block;
  top:10px;
  left: 85px;
  color: white;
  z-index: 100;
  font-size: 36px;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.social-icons{
  /* border:white solid 1px; */
  display: inline-block;
  /* color:white; */
  /* background-color: white; */
  width:45px;
  height: 124px;
  margin-left: 90%;
  position: fixed;
  right: 70px;
  top: 200px;
  
  /* z-index: 100; */
}
.fa-linkedin, .fa-github-square{
  font-size: 40px;
  /* background-color: black; */
  color: white;
}
.fa-linkedin:hover{
  color: #007bff8c;
}
.fa-github-square:hover{
  color:red;
}
.intro-text{
  /* position: relative; */
  /* width:100%; */
  height: 400px;
  /* bottom: 121px; */
  color:white;
  position: relative;
  top:180px;
  /* left: 35%; */
 
 text-align: center;
 /* font-family: 'Merienda', cursive; */
 
}


nav {
  font-weight: 50;
  /* position: absolute; */
  width: 800px;
  position: fixed;
    left: 45%;
    top: 18px;
    z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

.nav-list {
  float: left;
}

li a {
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 14px 16px;
  text-decoration: none;
  color:white;
}

/* li a:hover {
  color:white;
 
} */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); 
  color: #02fff2;
  
  text-shadow: 0 0 15px #0062d3;
}

.about{
  /* color:white;
 background-color: rgba(41, 35, 35, 0.548);
  width: 80%;
  height: 640px;
  margin-left: 130px;
  margin-top:50px; */

  color: white;
    background-color: rgba(41, 35, 35, 0.548);
    /* width: 100%; */
    height: 640px;
    /* margin-left: 130px; */
    margin-top: 50px;

}

.about-me{
text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
color:#02fff2;
font-weight: 50;
font-size: 24px;
width: 330px;
position: relative;
top: 120px;
left: 520px;
}

.about-details{
  /* line-height: 20px;
  margin-left: 520px;
  position: relative;
  bottom: 207px;
  width: 40%; */


  margin-left: 520px;
    position: relative;
    bottom: 255px;
    line-height: 20px;
    width: 40%;
    border-top:#b9a8a8 solid 1px;
    padding-top: 37px;
}

.profile-image{
  width: 290px;
  height: 390px;
  position: relative;
  top: 45px;
  left: 120px;
  border:solid 15px hsla(252, 13%, 70%, 0.57);;
  box-shadow: 1px 28px 16px 0px rgba(0,0,0,0.75);
}
.title-text{
  font-weight: 50;
  color:white;
  /* margin-left: 46%; */
  margin-top:160px;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 3px 0px #b2a98f,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
}

.skills-container{
  /* position: relative;
  left: 250px;
  width: 80%; */
  position: relative;
    left: 100px;
}

.grow-skill { transition: all .2s ease-in-out; }
.grow-skill:hover { 
  /* transform: scale(1.3);  */
  background-color: black;
 
  background-image: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 19%, rgba(154,213,236,1) 30%, rgba(62,189,230,1) 70%, rgba(41,184,229,1) 79%, rgba(188,224,238,1) 88%);
  text-shadow: 0 0 15px #0062d3;
}

.skill{
  height: 500px;
  /* width: 50%; */
  margin-top:100px;
  margin-left: 260px;
  font-weight: 50;
}

.skill-details{
  border: white solid 1px;
  /* width: 700px; */
  /* display: inline-block; */
  /* float: left; */
  height: 200px;
  margin: 6px;
}
.skill-details h3{
  margin-top: 30px;
}

.button_slide {
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slider{
  /* clear: both; */
  border: white solid 1px;
  width:60%;
  height: 500px;
}

.carousel-background{
  /* width: 1080px;
  background-color: #3330368c;
  position: relative;
  left: 141px;
  padding-top: 40px;
  padding-left: 227px;
  padding-bottom: 90px; */

  
    background-color: #3330368c;
    padding-top: 40px;
    padding-left: 178px;
    padding-bottom: 90px;
}

.carousel-container{
  width:600px;
}

.carousel-inner:hover .carousel-button { 
  opacity: 1;
  display: block;
  
}
.carousel-inner:hover .project-img {
  opacity: .3;
}

.carousel-inner:hover .carousel-caption {
  opacity: .3;
}
.carousel-button{
  opacity: 0;
  width:600px;
  height: 450;
  position: absolute;
  top: 152px;
  left: 197px;
}
.preview-btn{
  margin-right:50px;
}
.contact{
  position:relative;
  /* right: 56px; */
 top: 36px;
 }
 .subtext{
   font-family:'Supermercado One', cursive;
   text-shadow: none;
 }
.contact-form{
  /* position: relative;
  left: 28%;
  width:50%;
  height: 480px;
  border: white 1px solid;
  margin-top:65px ; */
  position: relative;
    width: 76%;
    height: 480px;
    border: white 1px solid;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}

.form-info{
  position: relative;
  left: 425px;
  bottom: 290px;
  color: white;
  
}
.form-group{
  width:46%;
  /* position: relative; */
  margin-left: 40px;

}
.form-group:nth-child(1){
margin-top:70px;
}

.btn{
 width:300px
}
.custom-btn:hover{
  background-color: black;
  /* color:green; */
  outline: 0;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.custom-btn{
  background-color:transparent;
  color:rgb(232, 232, 241);
  margin: .375rem;
    /* color: inherit; */
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}

